img {
    margin-right:15px;
    margin-bottom: 6px;
}

footer {
    text-align: center;
    background: #666666;
    color: white;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 15px;
}